@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --active-colour: red;
  --hover-colour: purple;
  font-family: "Source Sans Pro", sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 100%;
}

.colour-pickers {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.colour-picker {
  margin: 5px;
}
.colour-picker-label {
  margin: 5px;
  display: flex;
  align-items: center;
}

.table {
  display: inline-block;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid var(--active-colour);
  width: 50px;
  height: 50px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: var(--active-colour);
  color: white;
  cursor: pointer;
}

.is-contiguous {
  background-color: var(--hover-colour);
  border-color: var(--hover-colour);
  color: white;
}
